body{
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px 0px 0px;
    background-image: url("corner triangles2.png");
    background-color: white;
    background-size: 30vw, 15.0857142857vw;
    background-repeat: no-repeat;
}
header h1{
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 20%;
    text-decoration-color: white;
}
img{
    width: 30vw;
    height: 100%;
    float: left;
}
header{
    background-color: rgba(33, 33, 33, 100);
}