body{
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: white;
    background-size: 30vw, 15.0857142857vw;
}
header{
    background-color: rgba(33, 33, 33, 100);
    height: 6.15vw;
}
header a{
    color: white;
    text-decoration: none;
    float:left;
    margin-top: 2.75vw;
    margin-left: 1.5vw;
    padding:0.75vw;
}
header a:hover{
    background-color: grey;
}
header input[type=text]{
    float:right;
    margin-top: 3.5vw;
    margin-right: 1.5vw;
    height:1.5vw;
    width: 12vw;
}
article{
    background-color: white;
}
img{
    width: 35vw;
    height: 100%;
    float: left;
}
.sidenav{
    height:100%;
    width:15.34vw;
    top:0;
    background-color: white;
    border-color: rgba(220, 245, 215, 100);
    border-width: 1.2vw;
    border-style: solid;
    border-bottom-width:0;
}
.sidenav p{
    padding: 1vw;
    text-align: left;
}
.sidenav h4{
    text-align: center;
}
.sidenav h5{
    width:3vw;
    margin:0.38vw;
    float:left;
    margin-right:0;
}
.number p{
    float:right;
    text-align: right;
    margin:0.25vw;
    padding:0;
    width:2vw;
    margin-left: 0;
    margin-right:2vw;
    position:relative;
    top:-3.5vw;
}

.first{
    width:12vw;
    height:2vw;
    margin:1.67vw;
}
.second{
    height:2vw;
    margin:1.67vw;
    margin-right:0;
}
table{
    width:82%;
    float: right;
    padding:2vw;
    position:relative;
    top:-9.3vw;
}
th{
    background-color: rgba(19, 81, 70, 100);
    color:white;
    padding:0.5vw;
}
td{

    padding:0.5vw 0 0.5vw 1vw;
}
.link p{
    background-color: lightgrey;
    margin:1.5vw;
    padding:.5vw;
    text-align: center;
    text-decoration: none;
    color: black;
}
a{
    text-decoration:none;
}
.divpointsform{
    border-width:0.1vw;
    padding:0;
    margin-left:1.5vw;
}
.divpointsform input{
    width:12.14vw;
    margin-bottom: 1vw;
}
input[type="submit" i]{
    width:7vw;
}

@media screen and (max-width: 600px) {
    img{
        width:70vw;
    }
    header{
        height:28.9vw;
    }
}