body{
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: white;
    background-size: 30vw, 15.0857142857vw;
}
.cornertriangles img{
    width: 35vw;
    float: left;
    position:fixed;
    z-index: 2;
}
.clubs img{
    width:3vw;
}
.clubs button{
    height:100%;
}
.clubentry{
    padding:18px;
    content:'\02795';
}
.clubentry:after{
    content:
}
.content{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

header{
    background-color: rgba(33, 33, 33, 100);
    height: 6.15vw;
    position:fixed;
    width:100vw;
    z-index: 1;
    padding-left: 35vw;
}
header a{
    color: white;
    text-decoration: none;
    float:left;
    margin-top: 2.75vw;
    margin-left: 1.5vw;
    padding:0.75vw;
}
header a:hover{
    background-color: grey;
}
header input[type=text]{
    margin-top: 3.5vw;
    margin-right: 1.5vw;
    margin-left: 12vw;
    height:1.5vw;
    width: 12vw;
}
article{
    background-color: white;
    position:absolute;
    width:78vw;
    top:6.15vw;
    left:17.75vw;
    padding-top:2vw;
    padding-left:2vw;
}
.sidenav{
    height:100%;
    width:15.34vw;
    top:15.35vw;
    background-color: white;
    border-color: rgba(220, 245, 215, 100);
    border-width: 1.2vw;
    border-style: solid;
    border-bottom-width:0;
    border-top-width:0;
    position:fixed;
}
.sidenav p{
    padding: 1vw;
    text-align: left;
}
.sidenav h4{
    text-align: center;
}
.sidenav h5{
    width:3vw;
    margin:0.38vw;
    float:left;
    margin-right:0;
}
.number p{
    float:right;
    text-align: right;
    margin:0.25vw;
    padding:0;
    width:2vw;
    margin-left: 0;
    margin-right:2vw;
    position:relative;
    top:-3.5vw;
}
.first{
    width:12vw;
    height:2vw;
    margin:1.67vw;
}
.second{
    height:2vw;
    margin:1.67vw;
    margin-right:0;
}
table{
    width:82%;
}
th{
    background-color: rgba(19, 81, 70, 100);
    color:white;
    padding:0.5vw;
}
td{
    padding:0.5vw 0 0.5vw 1vw;
}
.link p{
    background-color: lightgrey;
    margin:1.5vw;
    padding:.5vw;
    text-align: center;
    text-decoration: none;
    color: black;
}
a{
    text-decoration:none;
}
.divpointsform{
    border-width:0.1vw;
    padding:0;
    margin-left:1.5vw;
}
.divpointsform input{
    width:12.14vw;
    margin-bottom: 1vw;
}
input[type="submit" i]{
    width:7vw;
}
.clubentry{
    width:100%;
    top:6vw;
    border:none;
    height:2vw;
    text-align: left;
    z-index: 3;
}
.active, .clubentry:hover {
    background-color: #ccc;
  }

@media screen and (max-width: 600px) {
    img{
        width:70vw;
    }
    header{
        height:28.9vw;
    }
}