{% extends 'layout.html' %}
{% block content %}
<div class=clubs>
  {%for club in clubs%}
    <button type="button" class="clubentry"><img src="static/css/{{club[5]}}icon.png"><p>{{club[0]}}</p></button>
    <div class="content">
      <p>{{club[2]}}</p>
      <p>Contact: {{club[3]}} <br>Teacher's Code: {{club[4]}}<br>Restrictions: {{club[6]}}</p>

    </div>
  {%endfor%}
  <script>
    var coll = document.getElementsByClassName("clubentry");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
    </script>
</div>
{% endblock %}
{% block sidebar %}
<form method=POST>
  <h4>Sort By:</h4>
  <p><label for=categories>Category:</label><br>
    <select name=categories>
      <option value=0>none</option>
      <option value=1>leadership</option>
      <option value=2>art</option>
      <option value=3>dance</option>
      <option value=4>drama</option>
      <option value=5>music</option>
      <option value=6>academic</option>
      <option value=7>sports</option>
      <option value=8>games</option>
      <option value=9>other</option>
    </select></p>

  <p>Day:<br><input type=checkbox id=1><label for=1>monday</label><br>
    <input type=checkbox id=2><label for=2>tuesday</label><br>
    <input type=checkbox id=3><label for=3>wednesday</label><br>
    <input type=checkbox id=4><label for=4>thursday</label><br>
    <input type=checkbox id=5><label for=5>friday</label><br>
    <input type=checkbox id=6><label for=6>weekend</label><br>   <input type=checkbox id=none><label for=none>none</label><br>
    <input type=checkbox id=7><label for=7>other</label><br></p>
  <h4>Order By:</h4>
  <p><input type=radio id=alphabet name=sort><label for=alphabet>alphabet</label><br>
    <input type=radio id=random name=sort><label for=random>random</label><br>
    <input type=radio id=members name=sort><label for=members>member count</label><br>
    <input type=radio id=date name=sort><label for=date>date created</label></p>
  <p><button type="submit">Update</button></p>
</form>
  
{% endblock %}