{% extends 'layout.html' %}
{% block content %}
<button class=sortbut onclick="opennav2()">Sort By...</button>
<div class=clubs>
    {%for club in clubs%}
        <button type="button" class="clubentry"><img src="static/css/{{club[5]}}icon.png"><p>{{club[0]}}</p></button>
        <div class="content">
        <p>{{club[2]}}</p>
        <p>Contact: {{club[3]}} <br>Teacher's Code: {{club[4]}}<br>Restrictions: {{club[6]}}</p>

        </div>
    {%endfor%}
    <script>
        var coll = document.getElementsByClassName("clubentry");
        var i;
        
        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.height){
            content.style.height = null;
            } else {
            content.style.height = content.scrollHeight + "px";
            }
        })
        }
    </script>
</div>

{% endblock %}
{% block sidebar %}
<div id="sort" class="sort" style="width:0px"> 
    <form method=POST id="form">
        <h4 id="label">Sort By:</h4>
        <p><label class="categories" id="categories" for=categories>Category:</label>
            <select name=categories>
            <option value=0>All</option>
            <option value=1>Leadership</option>
            <option value=2>Art</option>
            <option value=3>Dance</option>
            <option value=4>Drama</option>
            <option value=5>Music</option>
            <option value=6>Academic</option>
            <option value=7>Sports</option>
            <option value=8>Games</option>
            <option value=9>Other</option>
            </select></p>

        <p><label class="days" id="days" for=day>Day:</label>
            <select name=day>
            <option value=0>All</option>
            <option value=1>Monday</option>
            <option value=2>Tuesday</option>
            <option value=3>Wednesday</option>
            <option value=4>Thursday</option>
            <option value=5>Friday</option>
            <option value=6>Weekend</option>
            <option value=7>Other</option>
            </select>
        <p><button type="submit">Update</button></p>
    </form>
</div>   
<script>
    function opennav2(){
        // toggle the menu sidebar on or off
        x=document.getElementById("sort");
        if (x.style.width==='0px'){
            // change the width of the navigation to the opposite of what it was
            x.style.width="25vw"; 
            // change the link widths so they transition together 
            document.getElementById('form').style.display='block';
        }
        else{
            x.style.width="0px";
            document.getElementById('form').style.display='none';
        }
    }
</script>
  
{% endblock %}