{% extends 'layout.html' %}
{% block content %}
<!--Put whatever articles that will go on the main page here-->
<table>
    <tr>
        <th>North</th>
        <th>South</th>
        <th>West</th>
        <th>Event</th>
        <th>Date</th>
    </tr>
    {%for item in results%}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block sidebar %}
    <form autocomplete="off">
        <label for="North">North:</label><br>
        <input type="number" id="North" name="North" min=0><br>
        <label for="South">South:</label><br>
        <input type="number" id="South" name="South" min=0><br>
        <label for="West">West:</label><br>
        <input type="number" id="West" name="West"min=0><br>
        <label for="Event">Event:</label><br>
        <input type="text" id="Event" name="Event">
        <label for="Password">Password:</label><br>
        <input type="password" id="Password" name="Password"><br>
        <input type="submit" id="Submit" name="Submit">
    </form>
    <p>Todays date is:<br>{{date}}</p>
{% endblock %}