{% extends 'layout.html' %}
{% block content %}
<!--table displaying the history of the divpoints by event in descending date order-->
    <table>
        <tr>
            <th>North</th>
            <th>South</th>
            <th>West</th>
            <th>Event</th>
            <th>Date</th>
        </tr>
        {%for item in results%}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <p id='demo'></p>
    <script>
        var xValues=[0,];
        var yNorth=[];
        var ySouth=[];
        var yWest=[];
        var northtotal=0;
        var southtotal=0;
        var westtotal=0;
    </script>
    {%for item in results[::-1]%}
        <script>
            xValues.push('{{item[4]}}');
            console.log(xValues);
            yNorth.push(northtotal);
            northtotal+= {{item[0]}};
            console.log(yNorth);
            ySouth.push(southtotal);
            southtotal+= {{item[1]}};
            console.log(ySouth);
            yWest.push(westtotal);
            westtotal+= {{item[2]}};
            console.log(yWest);
        </script>
    {%endfor%}
    <script>
        yNorth.push(northtotal)
        ySouth.push(southtotal)
        yWest.push(westtotal)
        new Chart("myChart", {
            type: "line",
            data: {
            labels: xValues,
            datasets: [{
                data: yNorth,
                borderColor: "blue",
                fill: false,
                label: 'North',
            },{
                data: ySouth,
                borderColor: "red",
                fill: false,
                label: 'South'
            },{
                data: yWest,
                borderColor: "#fadb2d",
                fill: false,
                label: 'West'
            }]
        },
        options: {
            title: {
                display: true,
                text:"Cumulative Frequency of Points by Division"
            }
        }
        });
    </script>
{% endblock %}
{% block sidebar %}
    <h4>Divisonal Points Entry:</h4>
    <!--input a new event as a form and post it to main.py to input into sql database -->
    <form autocomplete="off"class='divpointsform' method="POST">
        <label for="North">North:</label><br>
        <input type="number" id="North" name="North" min=0 required><br>
        <label for="South">South:</label><br>
        <input type="number" id="South" name="South" min=0 required><br>
        <label for="West">West:</label><br>
        <input type="number" id="West" name="West" min=0 required><br>
        <label for="Event">Event Name:</label><br>
        <input type="text" id="Event" name="Event" required>
        <label for="Password">Password:</label><br>
        <input type="password" id="Password" name="Password" required><br>
        <input type="submit" id="Submit" name="Submit">
    </form>
{% endblock %}