<header>
    <!--links which are displayed in the nav bar and the date etc.-->
    <a href="/">Home</a>
    <a href="/clubs">Clubs</a>
    <a href="http://opac.burnside.school.nz:2000/#!dashboard" target="_blank">Library</a>
    <a href="/printing">Printing</a>
    <a href="/links">Links</a>
    <a href="https://sites.google.com/a/burnside.school.nz/bhs_senior-division/" target="_blank">Senior Division</a>
    <p>Week: {{week}} <br>Date: {{date}}</p>
    <a class="search">
        <i class="material-icons" style=color:white>search</i>
    </div>
    <div class="menu">
        <i class="material-icons">menu</i>
    </div>
    
</header>

