<header>
    <div class="blackbar">
        <!--links which are displayed in the nav bar and the date etc.-->
        <a href="/">Home</a>
        <a href="/clubs">Clubs</a>
        <a href="http://opac.burnside.school.nz:2000/#!dashboard" target="_blank">Library</a>
        <a href="/printing">Printing</a>
        <a href="/links">Links</a>
        <a href="https://sites.google.com/a/burnside.school.nz/bhs_senior-division/" target="_blank">Senior Division</a>
        <p>Week: {{week}} <br>Date: {{date}}</p>
    </div>
</header>
<div class="search">
    <a href="/" class="material-icons" style=color:white>search</a>
</div>
<div class="menu">
    <a href="/clubs" class="material-icons" style=color:black>menu</i>
</div>
    


