{% extends 'layout.html' %}
{% block content %}
<div class=main>
        <div class=twobythree><p>Term dates:<br>Term 1<br>Monday 1 February – Friday 16 April<br>Waitangi Day Observed, Monday 08 February<br>Good Friday, Friday 02 April<br>Easter Monday, Monday 05 April<br>Easter Tuesday, Tuesday 06 April<br>ANZAC Day Observed, Monday 26 April – During Term Break</p></div>
        <div class=onebyone><p>Quicklinks test:<br><a href=http://opac.burnside.school.nz:2000/#!dashboard target="_blank">Library database</a></p></div>
        <div class=onebyone><p>Quicklinks test:</p></div>
        <div class=onebytwo><p>Block content test 2</p></div>
        <div class=onebytwo><a href='/clubs'>Join a club</a></div>
        <div class=onebyone><p>Block content test 4</p></div>
        <div class=onebyone><p>Block content test 5</p></div>
        <div class=onebyone><p>Tutorials:<br>Chemistry-F10<br>Biology-A5</p></div>
        <div class=onebyone><p>Block content test 6</p></div>
        <div class=onebyone><p>Block content test 7</p></div>
        <div class=onebyone><p>Block content test 8</p></div>
        <div class=onebyone><p>Block content test 9</p></div>
        <div class=twobytwo><p>Block content test 10</p></div>
        <div class=onebyone><p>Block content test 11</p></div>
</div>
{% endblock %}
{% block sidebar %}
<!--display the divisional points as bars with widths as percentages of the first-->
<h4>Divisional Points:</h4>
<div class=first style='background-color: #{{col1}}'><h5>{{name1}}</h5></div>
<div class=number><p>{{num1}}</p></div>
<div class=second style='background-color: #{{col2}}; width:calc(({{num2}}/{{num1}})*12vw)'><h5>{{name2}}</h5></div>
<div class=number><p>{{num2}}</p></div>
<div class=second style='background-color: #{{col3}}; width:calc(({{num3}}/{{num1}})*12vw)'><h5>{{name3}}</h5></div>
<div class=number><p>{{num3}}</p></div>
<p>North, South and West are divisions competing to win the Mitchell Cup. Students can gain points for their division by participating in events such as atheletics.</p>
<div class='link'>
        <a href="/divpoints"><p>More Information</p></a>
</div>
{% endblock %}