{% extends 'layout.html' %}
{% block content %}
    <div class="maincontent">
        <p>{{namelist}}</p>
        <p>{{namecount}}</p>
        <div class="slideshow"></div>
            {% for n in range(namecount) %} 
                <div class="slideshow-slide">
                    <img src='/static/live main widget/{{name[n]}}'>
                </div>
                <p>{{name[n]}}</p>
            {%endfor%}

            <!--<div class="slideshow-slide">
                <img src='/static/live main widget/2.jpg'>
            </div>

            <div class="slideshow-slide">
                <img src='/static/live main widget/image867.png'>
            </div>
            <div class="slideshow-slide">
                <img src='/static/live main widget/t2newsletter.jpg'>
            </div>-->
            <a class="prev" onclick="increaseid(-1)">&#10094;</a>
            <a class="next" onclick="increaseid(1)">&#10095;</a>
        </div>
            
        
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <script>
            var id = 1;
            showslides(id);
            function increaseid(n) {
                id+=n;
                showslides(id);
                }
            function showslides(n) {
                let i;
                let slides = document.getElementsByClassName("slideshow-slide");
                if (n>slides.length) {id=1};
                if (n<1) {id=slides.length};
                for (i=0; i<slides.length; i++){
                    if (i==id-1){slides[i].style.display= "block";}
                    else slides[i].style.display= "none";
                }
            }

        </script>
    </div>
    <div class="termdates">
        <h2>Term Dates:</h2>
        <p>Term 1- 2nd Feb- 99 March</p>
    </div>
{% endblock %}
{% block sidebar %}

    <!--display the divisional points as bars with widths as percentages of the first-->
    <div class=divpoints>
    <h4>Divisional Points:</h4>
    <div class=first style='background-color: #{{col1}}'><h5>{{name1}}</h5></div>
    <div class=number><p>{{num1}}</p></div>
    <div class=second style='background-color: #{{col2}}; width:calc(({{num2}}/{{num1}})*12vw)'><h5>{{name2}}</h5></div>
    <div class=number><p>{{num2}}</p></div>
    <div class=second style='background-color: #{{col3}}; width:calc(({{num3}}/{{num1}})*12vw)'><h5>{{name3}}</h5></div>
    <div class=number><p>{{num3}}</p></div>
    <p>North, South and West are divisions competing to win the Mitchell Cup. Students can gain points for their division by participating in events such as atheletics.</p>
    <div class='link'>
            <a href="/divpoints"><p>More Information</p></a>
    </div></div>
{% endblock %}