{% extends 'layout.html' %}
{% block content %}
        <div class="slideshow">
            <!--create a slide for each image in the database-->
            {% for n in range(namecount) %} 
                <div class="slideshow-slide">
                    {% for r in namelist[n] %}
                        <img src='/static/live main widget/{{r[0]}}'>
                    {% endfor %}
                </div>
            {% endfor %}
            <!--buttons for scrolling through slideshow-->
            <a class="prev" onclick="increaseid(-1)">&#10094;</a>
            <a class="next" onclick="increaseid(1)">&#10095;</a>
        </div>
        <script>
            var id = 1;
            showslides(id);
            function increaseid(n) {
                // when either arrow button is clicked, change the slides id
                id+=n;
                showslides(id);
                }
            function showslides(n) {
                //if the new id value (n) is outside the range of slides, set it to a given value
                let i;
                let slides = document.getElementsByClassName("slideshow-slide");
                // if new id is larger than largest value, reset it to 1
                if (n>slides.length) {id=1};
                // if new id is smaller than 1, reset it to the last slide
                if (n<1) {id=slides.length};
                //only display the slide wanted
                for (i=0; i<slides.length; i++){
                    if (i==id-1){slides[i].style.display= "block";}
                    else slides[i].style.display= "none";
                }
            }
        </script>
    <div class="termdates">
        <h2>Term Dates:</h2>
        <p>Term 1- 2nd Feb- 99 March</p>
    </div>
{% endblock %}
{% block sidebar %}
    <!--display the divisional points as bars with widths as percentages of the winner-->
    <div class=divpoints>
        <h4>Divisional Points:</h4>
        <div class=first style='background-color: #{{col1}}'><h5>{{name1}}</h5></div>
        <div class=number><p>{{num1}}</p></div>
        <div class=second style='background-color: #{{col2}}; width:calc(({{num2}}/{{num1}})*12vw)'><h5>{{name2}}</h5></div>
        <div class=number><p>{{num2}}</p></div>
        <div class=second style='background-color: #{{col3}}; width:calc(({{num3}}/{{num1}})*12vw)'><h5>{{name3}}</h5></div>
        <div class=number><p>{{num3}}</p></div>
        <p>North, South and West are divisions competing to win the Mitchell Cup. Students can gain points for their division by participating in events such as atheletics.</p>
        <div class='link'>
                <a href="/divpoints"><p>More Information</p></a>
        </div>
    </div>
{% endblock %}