{% extends 'layout.html' %}
{% block content %}
    <div class="maincontent">
        <div class="slideshow">
            <p id="identity"></p>
            <div class="slideshow-slide">
                <img src='/static/live main widget/image867.png'>
              
            </div>

            <div class="slideshow-slide">
                <img src='/static/live main widget/2.jpeg'>
            </div>

            <div class="slideshow-slide">
                <img src='/static/live main widget/image867.png'>
            </div>
            <a class="prev" onclick="increaseid(-1)">&#10094;</a>
            <a class="next" onclick="increaseid(1)">&#10095;</a>
        </div>
            
        
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <script>
            let id = 1;
            showslides(id);
            function increaseid(n) {
                showslides(id+=n)
            }
            function currentSlide(n) {
                showslides(id=n);
            }
            function showslides(n) {
                let slides = document.getElementsByClassName("slideshow-slide");
                let dots = document.getElementsByClassName("dot");
                if (n>slides.length) {id=1}
                if (n<1) {id=slides.length}
                let i;
                for (i=0; i<id; i++){
                    slides[i].styledisplay='none';
                    dots[i].className = dots[i].className.replace(" active", "");}
                slides[id-1].style.display = "block";
                slides[id-1].className += " active";
                setTimeout(showslides, 2000);
                document.getElementById('identity').innerHTML=id;
            }
            



        </script>
    </div>
    <div class="termdates">
        <h2>Term Dates:</h2>
        <p>Term 1- 2nd Feb- 99 March</p>
    </div>
{% endblock %}
{% block sidebar %}

    <!--display the divisional points as bars with widths as percentages of the first-->
    <div class=divpoints>
    <h4>Divisional Points:</h4>
    <div class=first style='background-color: #{{col1}}'><h5>{{name1}}</h5></div>
    <div class=number><p>{{num1}}</p></div>
    <div class=second style='background-color: #{{col2}}; width:calc(({{num2}}/{{num1}})*12vw)'><h5>{{name2}}</h5></div>
    <div class=number><p>{{num2}}</p></div>
    <div class=second style='background-color: #{{col3}}; width:calc(({{num3}}/{{num1}})*12vw)'><h5>{{name3}}</h5></div>
    <div class=number><p>{{num3}}</p></div>
    <p>North, South and West are divisions competing to win the Mitchell Cup. Students can gain points for their division by participating in events such as atheletics.</p>
    <div class='link'>
            <a href="/divpoints"><p>More Information</p></a>
    </div></div>
{% endblock %}