<!DOCTYPE html>
<head>
    <title>my website:)</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <img src="static/css/corner triangles3.png">
    {% include 'header.html' %}
    <article>
        {% block content%}{% endblock %}
    </article>
    <div class="sidenav">
        {% block sidebar%}{% endblock %}
    </div>
    {% include 'footer.html' %}
</body>