<!DOCTYPE html>
<head>
    <title>my website:)</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <a href="/" class=cornertriangles>
        <img src="static/css/ct1.png"alt="burnside logo">
    </a>
    <div class=cornertriangles2><img src="static/css/ct2.png"></div>
    {% include 'header.html' %}
    <article>
        {% block content%}{% endblock %}
    </article>
    <div class="sidenav">
        {% block sidebar%}{% endblock %}
    </div>
</body>