<!DOCTYPE html>
<!--layout for the website which stays constant in all pages-->
<head>
    <title>Burnside Student Website</title>
    <link rel="icon" href="static/css/iconfortop3.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!--images for the logo in two sections (first is a link but 2nd part isn't)-->
    <a href="/" class=cornertriangles>
        <img src="static/css/ct1.png"alt="burnside logo">
    </a>
    <div class=cornertriangles2><img src="static/css/ct2.png"></div>
    {% include 'header.html' %}
    <article>
        {% block content%}{% endblock %}
    </article>
    <div class="sidenav">
        {% block sidebar%}{% endblock %}
    </div>
</body>