{% extends 'layout.html' %}
{% block content %}
<a href=http://papercut.burnside.school.nz:9191/user target="_blank">Top up papercut credit</a><br>
<a href=http://opac.burnside.school.nz:2000/#!dashboard target="_blank">Library database-Opac</a><br>
<a href=https://bhslibraryresearch.weebly.com/ target="_blank">Library research website</a><br>
<a href=https://natlib.govt.nz/librarians/epic/epic-for-new-zealand-schools/epic-resources-for-schools target="_blank">Epic</a><br>
<a href=https://www.jstor.org/ target="_blank">Jstor</a><br>
<a href=https://www.nzqa.govt.nz/assets/qualifications-and-standards/qualifications/ncea/exams-and-portfolios/examination-timetable.pdf target="_blank">Examination timetable</a><br>
{% endblock %}
{% block sidebar %}

{% endblock %}