{% extends 'layout.html' %}
{% block content %}
<div class=printcontent>
    <p>The cost to print at burnside for either A4 or A3 is 3 cents in black and white or 20 cents in colour.<br>
    Your account needs to have printing credit to cover the cost of the printing.<br>
    You can check your balance on the papercut website or it will be displayed at the top right hand corner of school computers.<br>
    To top up this credit you can go to the student office and purchase a card for either $2 or $5.<br>
    This card has numbers on it which you can enter into the papercut website under the top up header.<br></p>
    <h4>Printing:<br></h4>
    <h4>Method One- Personal Computer:</h4>
    <p>Click on the web print header on the papercut website. <br>
    Upload your file to the website and select either the ____ printer for black and white prints or ____ for colour in the library. You can select another printer if you wish but the library printers are recommended. You can upload files in any of the following formats: .png .pdf etc.<br>
    Press print<br></p>

    <h4>Method Two- School Computer:<br></h4>
    <ul><li>Go to the file which you want to print</li>
        <li>Customise the settings as required and select the printer: “____” for black and white prints or “____” for colour</li>
        <li>Select print</li>
        <li>Confirm the charges to the papercut account</li></ul>

    <h4>Photocopying:<br></h4>
    <p>Go to the machine in the library with the label: photocopier. <br>
    Lift up the lid and place your paper face down aligned with the top left corner. <br>
    Tap on the far left screen and enter your student number and the numbers from your password. For example if your password is “word1234” you would enter “1234” as your pin. <br>
    Tap on “student account”. <br>
    Go back to the main screen and select “copy”. You can change the settings on this page such as the quantity of pages, colour, size of print. Most of the time the auto settings work fine.<br>
    Press the big green button saying start<br>
    </p>
</div>
{% endblock %}
{% block sidebar %}
<div class=printside>
    <div class=link>
        <a href=http://papercut.burnside.school.nz:9191/user target="_blank"><p>Papercut link</p></a>
    </div>
    <h4>Cost: </h4>
    <p>Black and white: 3 cents<br>Colour: 20 cents<br>(per A4/A3 page)</p>
</div>
{% endblock %}