{% extends 'layout.html' %}
{% block content %}
<div class=printcontent>
    <h3>Printing:<br></h3>
    <h4>Method One- Personal Computer:</h4>
    <p>If you don't have printing credit, purchase <a href=#credit>credit</a></ahref> first<br>
        1. Log into the <a href=http://papercut.burnside.school.nz:9191/user target="_blank" style=text>papercut</a> website<br>
        2. Go to the 'Web Print' header <br> 3. Select 'Submit a Job'</p>
    <img src=static/css/2.png style=height:20vw;float:center>
    <p>4. Choose a printer</p>
    <img src=static/css/5.png style=height:10vw;float:center;>
    <p>5. Choose your options<br>6. Upload your pdf file</p>

    <h4>Method Two- School Computer:<br></h4>
    <p>1. Go to the file which you want to print<br>
        2. Ctrl+P to bring up the print menu<br>
        3. Customise the settings as required and select the printer: “____” for black and white prints or “____” for colour<br>
        4. Select print<br>
        5. Confirm the charges to the papercut account</p>

    <h3>Photocopying:<br></h3>
    <p>1. Go to the machine in the library with the label: photocopier<br>
    2. Lift up the lid and place your paper face down, aligned with the top left corner<br>
    3. Enter your student number and your pin (the numbers from your student passsword)<br>
    4. Tap on “student account” <br>
    5. Select “copy” on the main screen<br>
    6. Customise the settings as required<br>
    7. Press the big green button to start<br>
    <h3 id="credit">Add credit to your account:</h3>
    <p>The cost to print at burnside for either A4 or A3 is 3 cents in black and white or 20 cents in colour.<br>
        Your account needs to have printing credit to cover the cost of the printing.<br>
        You can check your balance on the papercut website or it will be displayed at the top right hand corner of school computers.<br>
        To top up this credit you can go to the student office and purchase a card for either $2 or $5.<br>
        This card has numbers on it which you can enter into the papercut website under the top up header.<br></p>
    <h3>Common Errors:</h3>
    <p>You need printing credit to print, look above for instructions<br>
        
    </p>
</p>
</div>
{% endblock %}
{% block sidebar %}
<div class=printside>
    <div class=link>
        <a href=http://papercut.burnside.school.nz:9191/user target="_blank"><p>Papercut link</p></a>
    </div>
    <h4>Cost: </h4>
    <p>Black and white: 3 cents<br>Colour: 20 cents<br>(per A4/A3 page)</p>
</div>
{% endblock %}